.todoList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .panel{
    width: 80%;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    div{
      width: 20%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .panel {
    width: 99%!important;
    padding: 5px !important;
  }
}