.todoList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .panel{
    width: 80%;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    div{
      width: 20%;
      text-align: center;
    }
  }
}