.trash {
  h2 {
    text-align: center;
  }

  .trashHolder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    & > div {
      width: 80%;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 50px;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 10px;

      div {
        width: 20%;
        text-align: center;
      }
    }
  }
}